body{
    background-color: rgb(165, 247, 162);
    padding: 40px;
}

ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
}


p{
    color: rgb(61, 2, 2);
    size:12px;
    font-family: 'Courier New', Courier, monospace;
    align-self: start;
    text-align: justify;
}
img{
    width: 180px;
    height: 180px;
    border: 5px solid rgba(241, 61, 6, 0.438);
    border-radius: 50%;
    align: center;

}
.centraliza{
    text-align: center;
}

a{
  color: white;
  size:12px;
  font-family: 'Courier New', Courier, monospace;
  align-self: start;
  text-align: center;
}
.subt{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    text-align: justify;
}